* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondamento-regular {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

header {
  text-align: center;
  padding: 0px;
  height: 17%;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: black;
}

main {
  /* border: 5px solid red; */
  height: 77%;
}

/* Background */
.home-container {
  background-image: url(IMAGES/marble-black.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;
  height: 100vh;
  /* height: 100vw; */
}

/* Bannière avec le slogan */
.slogan {
  background: black;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  width: 100%;
  font-size: 40px;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
}

/* Slogan */
.slogan p {
  width: max-content;
  margin-left: auto;
}

/* Barre de navigation */
.navbar-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.navbar-desktop ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
}

.navbar-desktop ul li a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  transition: background 0.3s;
  font-size: 24px;
}

.navbar-desktop ul li a:hover,
.navbar-desktop ul li a.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.navbar-burger {
  display: none;
}

/* Icone des langues ans la navbar */
.lang-icons {
  width: max-content;
  float: right;
  margin-right: 40px;
  margin-left: auto;
}

.lang-icons img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}

/* Conteneur de la page Qui Sommes Nous */
.about-container {
  display: flex;
  place-self: anchor-center;
  margin-top: 55px;
}

.about-container-responsive {
  display: none;
}

.photos-gauche {
  display: inline-grid;
  margin-right: 20px;
  margin-top: 95px;
}

.photos-gauche img {
  border-radius: 15px;
  padding: 5px 0px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.429);
}

.biography-content {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  margin-top: 20px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  block-size: auto;
}

.biography-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.biography-content-1 {
  width: 50%;
  height: 250px;
  text-align: center;
  font-size: 23px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}

.biography-content-2 {
  width: 50%;
  height: 250px;
  text-align: center;
  font-size: 23px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid white;
  padding: 15px;
  border-radius: 10px;
}

.biography-content-3 {
  width: 50%;
  height: 250px;
  display: flex;
  text-align: center;
  font-size: 23px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
}

.biography-content-4 {
  width: 50%;
  height: 250px;
  display: flex;
  text-align: center;
  font-size: 23px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}

.photos-droite {
  display: inline-grid;
  margin-left: 20px;
  margin-top: 95px;
}

.photos-droite img {
  border-radius: 15px;
  padding: 5px 0px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.429);
}

#team {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 40px;
  text-decoration: underline;
}

/* Titre des 3 galeries */
.galery-title h2 {
  color: white;
  /* border: 2px solid green; */
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  margin-top: 35px;
}

/* Formation des galeries */
.galery-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Mosaïque */
.galery-container {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
  place-self: center;
  height: 90%;
  margin-left: 200px;
  margin-right: 200px;
}

.galery-container>div {
  /* border: 1px solid red; */
  overflow: hidden;
  /* box-shadow: 5px 5px 7px rgba(40, 94, 107, 0.452); */
}

.img-1 {

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.img-2 {

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.img-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.img-4 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.img-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.img-6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.img-7 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.img-8 {

  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.img-9 {
  grid-column: 3 /4;
  grid-row: 1 / span 2;
}

/* Mise en place de la page Infos Pratiques */
.information-container {
  display: flex;
  /* border: 2px solid red; */
  display: flex;
  place-self: anchor-center;
  /* margin-top: 55px; */
  /* margin-top: 100px; */
  /* height: 100%; */
}

.test {
  height: 18%;
}

.adresse-content {
  /* border: 2px solid green; */
  border-right: 3px solid white;
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 500px;
}

.adresse-content h2 {
  text-decoration: underline;
  justify-self: center;
  font-size: 35px;
}

.adresse-content p {
  height: 201px;
  /* border: 2px solid pink; */
  align-content: center;
  text-align: center;
}

.map-content {
  /* border: 2px solid yellow; */
  height: 300px;
  align-content: center;
  justify-self: center;
}

.horaires-content {
  /* border: 2px solid blue; */
  border-right: 3px solid white;
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 550px;
}

.horaires-content h2 {
  justify-self: anchor-center;
  text-decoration: underline;
  justify-self: center;
  font-size: 35px;
}

.horaires-content p {
  /* border: 2px solid white; */
  align-content: center;
  text-align: left;
  height: 500px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 30px;
}

.hygiène-content {
  /* border: 2px solid violet; */
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 500px;
}

.hygiène-content h2 {
  justify-self: anchor-center;
  text-decoration: underline;
  justify-self: center;
  font-size: 35px;
}

.hygiène-content p {
  /* border: 2px solid rgb(0, 255, 51); */
  align-content: center;
  text-align: center;
  height: 500px;
  margin-right: 20px;
  margin-left: 20px;
}

.hygiène-content a {
  text-decoration: underline;
}

.cicatrisation-container {
  /* border: 2px solid green; */
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
}

.cicatrisation-title {
  /* border: 2px solid red; */
  margin-top: 70px;
  text-decoration: underline;
}

.cicatrisation-title h2 {
  text-align: center;
  font-size: 35px;
}

.cicatrisation-question {
  /* border: 2px solid rgb(255, 0, 153); */
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
}

.cicatrisation-content {
  /* border: 2px solid blue; */
  font-size: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.cicatrisation-content p {
  text-align: center;
}

.cicatrisation-advice {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-top: 30px;
}

.info-contact-container {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  /* border: 2px solid rgb(255, 251, 0); */
  display: flex;
  flex-direction: column;
  height: 40%;
  /* margin-top: 30px; */
}

.contact-title {
  font-size: 35px;
  text-align: center;
  text-decoration: underline;
}

.info-contact-content p {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.click-to-contact {
  color: rgb(0, 0, 0);
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60%;
  text-align: center;
  align-items: center;
  /* border: 2px solid red; */
  text-decoration: none;
}

.click-to-contact .button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.514);
  transition: background 0.3s;
  font-size: 24px;
  text-decoration: underline;
}

.click-to-contact a {
  color: black;
}

.click-to-contact img {
  width: 100px;
  height: 100px;
}

.item-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

}

.item-2 {
  grid-row: 1 / 2;
  grid-column: 3 / 5;

}

.item-3 {
  grid-row: 1 / 2;
  grid-column: 5 / 7;

}

.item-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;

}

.item-5 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.item-6 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;

}

.item-7 {
  grid-row: 2 / 3;
  grid-column: 5 / 7;


}



footer {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  display: flex;
  background-color: black;
  /* border: 2px solid blue; */
  justify-content: space-around;
  align-items: anchor-center;


}

footer img {
  width: 50px;
  height: 50px;
  margin-left: -320px;
  cursor: pointer;
}

.faq-title {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  text-align: center;
  text-decoration: underline;
  height: 10%;
  margin-top: 30px;
}

details {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  text-align: justify;
  /* background-color: blue; */
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 1px solid white;
  font-size: 20px;
}

details summary {
  padding: 15px;
}

.mentions-container {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  text-align: center;
  text-decoration: underline;
  font-size: 15px;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.menu-icon span {
  height: 4px;
  width: 30px;
  background: white;
  margin: 5px 0;
  transition: 0.5s;
}

@media screen and (max-width: 412px) {

  body {
    height: 300vh;
  }

  header {
    text-align: center;
    padding: 0px;
    height: 3%;
  }
  
  main {
    border: 5px solid red;
  height: 95%;
  margin-top: 60px;
  }
  .home-container {
    background-image: url(IMAGES/marble-black-responsive.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
    height: 78%;
  }

  .navbar-burger {
    align-items: flex-start;
    margin-top: 80px;
    display: flex;
  }

  .menu-icon {
    display: flex;
    z-index: 1001;
  }

  .navbar-desktop {
    display: none;
  }

  .navbar-burger ul {
    /* display: none; */
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 120px;
    /* Ajuste selon la hauteur de ton header */
    left: 0;
    z-index: 1000;
    margin-left: -460px;
    height: 640px;
    transition: margin-left 0.5s;
  }

  .slogan {
    font-size: 24px;
    justify-content: center;
  }

  .slogan p {
    margin: 0;
    padding: 5px;
  }

  .lang-icons {
    display: none;
  }

  #menu-toggle:checked+.menu-icon+.navbar-burger ul {
    /* display: flex; */
    margin-left: 0;
  }

  .navbar-burger ul li {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    padding: 17px;
    border-bottom: 1px solid white;
  }

  .navbar-burger ul li a {
    font-size: 20px;
    display: block;
    width: 100%;
  }

  /* .navbar-burger ul img  {
    padding: 8px;
    height: 32px;
    width: 32px;
  } */

  .navbar-burger-lang {
    /* border: 2px solid green; */
  }

  .navbar-burger-lang img {
    height: 32px;
    width: 32px;
    margin: 10px;
  }

  .about-container {
    display: none;
  }

  .about-container-responsive {
    /* border: 2px solid red; */
    display: contents;
    border: 2px solid red;
    text-align: center;
    color: white;
    font-family: "fondamento", cursive;
    font-weight: 400;
    font-style: regular italic;
  }

  .about-container-responsive h2 {
    margin-bottom: 60px;
  }

  .content-responsive {
    display: inline-table;
    margin-top: 80px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    font-family: "fondamento", cursive;
    font-weight: 400;
    font-style: regular italic;
  }
}