* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondamento-regular {
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

header {
  text-align: center;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  color: black;
}

/* Background */
.home-container {
  background-image: url(IMAGES/marble-black.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;
  height: 100%;
}

/* Bannière avec le slogan */
.slogan {
  background: black;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  width: 100%;
  font-size: 40px;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
}

/* Slogan */
.slogan p {
  width: max-content;
  margin-left: auto;
}

/* Barre de navigation */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
}

.navbar ul li a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  transition: background 0.3s;
  font-size: 24px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

/* Icone des langues ans la navbar */
.lang-icons {
  width: max-content;
  float: right;
  margin-right: 40px;
  margin-left: auto;
}

.lang-icons img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}


/* Conteneur de la page Qui Sommes Nous */
.about-container {
  display: flex;
  place-self: anchor-center;
  margin-top: 55px;
}

.photos-gauche {
  display: inline-grid;
  margin-right: 20px;
  margin-top: 95px;
}

.photos-gauche img {
  border-radius: 15px;
  padding: 5px 0px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.429);
}

.biography-content {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  margin-top: 20px;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  block-size: auto;
}

.biography-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.biography-content-1 {
  width: 50%;
  height: 250px;
  text-align: center;
  font-size: 23px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}

.biography-content-2 {
  width: 50%;
  height: 250px;
  text-align: center;
  font-size: 23px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid white;
  padding: 15px;
  border-radius: 10px;
}

.biography-content-3 {
  width: 50%;
  height: 250px;
  display: flex;
  text-align: center;
  font-size: 23px;
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
}

.biography-content-4 {
  width: 50%;
  height: 250px;
  display: flex;
  text-align: center;
  font-size: 23px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}

.photos-droite {
  display: inline-grid;
  margin-left: 20px;
  margin-top: 95px;
}

.photos-droite img {
  border-radius: 15px;
  padding: 5px 0px;
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.429);
}

#team {
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 40px;
  text-decoration: underline;
}

/* Titre des 3 galeries */
.galery-title h2 {
  color: white;
  /* border: 2px solid green; */
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
  margin-top: 35px;
}

/* Formation des galeries */
.galery-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Mosaïque */
.galery-container {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
  place-self: center;
  height: 670px;
  overflow: hidden;
  margin-left: 200px;
  margin-right: 200px;
}

.galery-container > div {
  /* border: 1px solid red; */
  overflow: hidden;
}

.img-1 {
  object-fit: cover;
  /* width: 100px;
    height: 150px; */
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.img-2 {
  /* width: 300px;
    height: 350px; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.img-3 {
  /* width: 300px;
    height: 350px; */
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.img-4 {
  /* width: 300px;
    height: 350px; */
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.img-5 {
  /* width: 300px;
    height: 350px; */
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.img-6 {
  /* width: 300px;
    height: 350px; */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.img-7 {
  /* width: 300px;
    height: 350px; */
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.img-8 {
  /* width: 300px;
    height: 350px; */
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
.img-9 {
  grid-column: 3 /4;
  grid-row: 1 / span 2; 
}

/* Mise en place de la page Infos Pratiques */
.information-container {
  display: flex;
  /* border: 2px solid red; */
  display: flex;
  place-self: anchor-center;
  margin-top: 55px;
  margin-top: 100px;
}

.adresse-content {
  /* border: 2px solid green; */
  border-right: 3px solid white;
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 500px;

}
.adresse-content h2 {
  text-decoration: underline;
  justify-self: center;
  font-size: 35px;
}

.adresse-content p {
    height: 200px;
    /* border: 2px solid pink; */
    align-content: center;
    text-align: center; 
}

.map-content {
    /* border: 2px solid yellow; */
    height: 300px;
    align-content: center;
    justify-self: center;
}
.horaires-content {
  /* border: 2px solid blue; */
  border-right: 3px solid white;
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 550px;
}
.horaires-content h2 {
    justify-self: anchor-center;
    text-decoration: underline;
    justify-self: center;
    font-size: 35px;
}

.horaires-content p {
    /* border: 2px solid white; */
    align-content: center;
    text-align: left;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.hygiène-content {
  /* border: 2px solid violet; */
  color: white;
  font-family: "fondamento", cursive;
  font-weight: 400;
  font-style: regular italic;
  justify-self: anchor-center;
  font-size: 30px;
  width: 500px;
}

.hygiène-content h2 {
    justify-self: anchor-center;
    text-decoration: underline;
    justify-self: center;
    font-size: 35px;
}
.hygiène-content p {
    /* border: 2px solid rgb(0, 255, 51); */
    align-content: center;
    text-align: center;
    height: 500px;
    margin-right: 20px;
    margin-left: 20px;
}

.hygiène-content a {
    text-decoration: underline;
}